<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">

<head>
    <title>ONGvd - Formulário para registro da ONG</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h1>Editar endereço da ONG</h1>
                    
                    <h6>Conforme necessário, altere os dados de endereço da ONG:</h6>
                    
                    <form th:action="@{/painel/ong/configuracoes/perfil/endereco/{id}(id=${enderecoDTO.getId()})}" method="post">

                        <div th:object="${enderecoDTO}">
                            <div class="form-row">
                                <div class="form-group col-md-2" th:classappend="${#fields.hasErrors('cep')}? 'has-error':''">
                                    <label for="cep" class="control-label">CEP</label>
                                    <input type="text" id="cep" class="form-control" th:field="*{cep}" />
                                    <p class="error-message" th:each="error: ${#fields.errors('cep')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('logradouro')}? 'has-error':''">
                                    <label for="logradouro" class="control-label">Logradouro</label>
                                    <input type="text" id="logradouro" class="form-control" th:field="*{logradouro}" />
                                    <p class="error-message" th:each="error: ${#fields.errors('logradouro')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-1" th:classappend="${#fields.hasErrors('numero')}? 'has-error':''">
                                    <label for="numero" class="control-label">Número</label>
                                    <input id="numero" class="form-control" th:field="*{numero}" type="number" />
                                    <p class="error-message" th:each="error: ${#fields.errors('numero')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-3" th:classappend="${#fields.hasErrors('complemento')}? 'has-error':''">
                                    <label for="complemento" class="control-label">Complemento</label>
                                    <input type="text" id="complemento" class="form-control" th:field="*{complemento}" />
                                    <p class="error-message" th:each="error: ${#fields.errors('complemento')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-2" th:classappend="${#fields.hasErrors('bairro')}? 'has-error':''">
                                    <label for="bairro" class="control-label">Bairro</label>
                                    <input type="text" id="bairro" class="form-control" th:field="*{bairro}" />
                                    <p class="error-message" th:each="error : ${#fields.errors('bairro')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-2" th:classappend="${#fields.hasErrors('cidade')}? 'has-error':''">
                                    <label for="cidade" class="control-label">Cidade</label>
                                    <input type="text" id="cidade" class="form-control" th:field="*{cidade}" />
                                    <p class="error-message" th:each="error : ${#fields.errors('cidade')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-2" th:classappend="${#fields.hasErrors('uf')}? 'has-error':''">
                                    <label for="uf" class="control-label">UF</label>
                                    <input type="text" id="uf" class="form-control" th:field="*{uf}" />
                                    <p class="error-message" th:each="error : ${#fields.errors('uf')}" th:text="${error}"></p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" id="registrarOng" class="btn btn-outline-success">Registrar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>