<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main}">

<head>

<title>ONGvd - Configurações da ONG</title>

</head>

<body>
	<div layout:fragment="content">
		<div class="container" th:object="${ong}">

			<div class="container">
				<div class="row">
					<div class="col-sm"></div>
					<div class="col-sm-6">
						<div class="form-group">

							<h1>Configurações da ONG</h1>

							<div th:if="${param.success}">
								<div class="alert alert-info d-inline-flex text-center col-auto">Dados
									da ONG alterados com sucesso!</div>
								<div class="alert alert-danger d-inline-flex text-center col-auto">Favor
									desconectar e conectar novamente no sistema caso tenha alterado
									os campos "E-mail da ONG" e/ou "Senha da ONG", para que as
									alterações entrem em vigor!</div>
							</div>

							<div th:if="${param.success2}">
								<div class="alert alert-info d-inline-flex text-center col-auto">Dados
									de endereço da ONG alterados com sucesso!</div>
							</div>

							<div th:if="${param.desativada}">
								<div class="alert alert-info col-md-8">ONG desativada com
									sucesso!</div>
							</div>

							<div th:if="${param.ativada}">
								<div class="alert alert-info col-md-6">ONG ativada com
									sucesso!</div>
							</div>

							<div>
								<label class="text-justify">Para alterar os dados
									registrados da ONG, clique em um dos botões abaixo:</label>
							</div>

							<div>
								<a class="btn btn-outline-primary col-auto"
									th:href="@{/painel/ong/configuracoes/perfil/{id}(id=${ong.getId()})}">Editar
									registro da ONG</a> <a class="btn btn-outline-primary col-auto"
									th:href="@{/painel/ong/configuracoes/perfil/endereco/{id}(id=${ong.getId()})}">Editar
									endereço da ONG</a>
							</div>
							<div>
								<label class="text-justify">Para modificar os dados da
									conta da ONG, clique no botão abaixo:</label>
							</div>
							<div>
								<a class="btn btn-outline-secondary col-auto"
									th:href="@{/painel/ong/configuracoes/conta}"
									th:onclick="return confirm('Leia com cuidado antes de efetivar as alterações nesta tela, pois dependendo da alteração serão perdidos todos os dados da ONG e vinculados à ONG!!!');">Conta
									ONG</a>
							</div>
						</div>
					</div>
					<div class="col-sm"></div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>