<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">

<head>
    <title>ONGvd - Editar dados cadastrais da ONG</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h1>Editar ONG</h1>
                    
                    <h6>Conforme necessário, altere os dados de registro da ONG:</h6>
                    
                    <span class="font-small">Campos marcados com <span class="asterico-requerido">*</span> são de preenchimento obrigatório.</span>
                    
                    <form th:action="@{/painel/ong/configuracoes/perfil/{id}(id=${ongEdicao.getId()})}" method="post">

                        <div th:object="${ongEdicao}">
                            <p class="error-message" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}">
                            </p>
                        </div>
                        
                        <div th:object="${ongEdicao}">
                            <div class="form-row">
                                <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('razaoSocial')}? 'has-error':''">
                                    <label for="razaoSocial" class="control-label">Razão Social da ONG</label>
                                    <span class="asterico-requerido"> *</span>
                                    <input type="text" id="razaoSocial" class="form-control" th:field="*{razaoSocial}" />
                                    <p class="error-message" th:each="error: ${#fields.errors('razaoSocial')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('nomeFantasia')}? 'has-error':''">
                                    <label for="nomeFantasia" class="control-label">Nome Fantasia da ONG</label>
                                    <span class="asterico-requerido"> *</span>
                                    <input type="text" id="nomeFantasia" class="form-control" th:field="*{nomeFantasia}" />
                                    <p class="error-message" th:each="error: ${#fields.errors('nomeFantasia')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('cnpj')}? 'has-error':''">
                                    <label for="cnpj" class="control-label">CNPJ da ONG</label>
                                    <span class="asterico-requerido"> *</span>
                                    <input type="text" id="cnpj" class="form-control" th:field="*{cnpj}" />
                                    <p class="error-message" th:each="error: ${#fields.errors('cnpj')}" th:text="${error}"></p>
                                </div>
								<div class="form-group col-md-4">
									<label for="fundacao" class="control-label">Data da
										Fundação da ONG</label>
									<span class="asterico-requerido"></span>
									<input type="date" id="fundacao" class="form-control"
										th:field="*{fundacao}" />
								</div>
								<div class="form-group col-md-4" th:classappend="${#fields.hasErrors('areaDeAtuacao')}? 'has-error':''">
                                    <label for="areaDeAtuacao" class="control-label">Área de Atuação da ONG</label>
                                    <span class="asterico-requerido"> *</span>
                                    <input type="text" id="areaDeAtuacao" class="form-control" th:field="*{areaDeAtuacao}" />
                                    <p class="error-message" th:each="error: ${#fields.errors('areaDeAtuacao')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('responsavel')}? 'has-error':''">
                                    <label for="responsavel" class="control-label">Nome da pessoa responsável pela ONG</label>
                                    <span class="asterico-requerido"> *</span>
                                    <input type="text" id="responsavel" class="form-control" th:field="*{responsavel}" />
                                    <p class="error-message" th:each="error: ${#fields.errors('responsavel')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('contato')}? 'has-error':''">
                                    <label for="contato" class="control-label">Nome da pessoa de contato da ONG</label>
                                    <span class="asterico-requerido"> *</span>
                                    <input type="text" id="contato" class="form-control" th:field="*{contato}" />
                                    <p class="error-message" th:each="error : ${#fields.errors('contato')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('whatsapp')}? 'has-error':''">
                                    <label class="control-label">WhatsApp da ONG<i tabindex="0" 
							          class="fas fa-exclamation-circle" data-toggle="popover" data-trigger="focus" 
							          title="WhatsApp da Ong" data-content="Digite o número de WhatsApp da ONG neste campo (exemplo: +55 (34) 9999-9999,
							          onde +55 é o código do país (no caso +55 é o código do Brasil), (34) é o DDD sem o digito 0 e 9999-9999 é o número do chip do celular
							          sem o nono (9) digito), para o(a) voluntário(a) e doador(a) entrar em contato com a ONG pelo WhatsApp.
							          Caso não digite, o(a) voluntário(a) ou doador(a) não será direcionado para conversar a ONG pelo WhatsApp e terá que contatar
							          a ONG por e-mail ou telefone cadastrados no sistema."></i></label>
							        <span class="asterico-requerido"></span>
                                    <input type="tel" id="whatsapp" class="form-control" th:field="*{whatsapp}" />
                                    <p class="error-message" th:each="error: ${#fields.errors('whatsapp')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('telefone')}? 'has-error':''">
                                    <label for="telefone" class="control-label">Telefone da ONG</label>
                                    <span class="asterico-requerido"> *</span>
                                    <input type="tel" id="telefone" class="form-control" th:field="*{telefone}" />
                                    <p class="error-message" th:each="error : ${#fields.errors('telefone')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('website')}? 'has-error':''">
                                    <label for="website" class="control-label">Site da ONG</label>
                                    <span class="asterico-requerido"></span>
                                    <input type="text" id="website" class="form-control" th:field="*{website}" />
                                    <p class="error-message" th:each="error: ${#fields.errors('website')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                                    <label for="email" class="control-label">E-mail da ONG</label>
                                    <span class="asterico-requerido"> *</span>
                                    <input type="text" id="email" class="form-control" th:field="*{email}" />
                                    <p class="error-message" th:each="error : ${#fields.errors('email')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('senha')}? 'has-error':''">
                                    <label for="senha" class="control-label">Senha da ONG</label>
                                    <span class="asterico-requerido"> *</span>
                                    <input id="senha" class="form-control" type="password" th:field="*{senha}" placeholder="Digitar senha antiga ou nova senha"/>
                                    <p class="error-message" th:each="error : ${#fields.errors('senha')}" th:text="${error}"></p>
                                </div>
							</div>
                        </div>

                        <div class="form-group">
							<button type="submit" class="btn btn-outline-success">Editar</button>
							<button type="reset" class="btn btn-outline-primary">Restabelecer campos</button>
						</div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>