<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main}">

<head>
<title>ONGvd - Formulário para edição de Serviço Voluntário da
	ONG</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Editar Serviço Voluntário</h1>
					
					<span class="font-small">Campos marcados com <span class="asterico-requerido">*</span> são de preenchimento obrigatório.</span>
					
					<form
						th:action="@{/painel/ong/servico-voluntario/atualizar-cadastro/{id}(id=${servico.getId()})}"
						method="post" th:object="${servico}">

						<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
							th:each="error : ${#fields.errors('global')}" th:text="${error}">
						</p>

						<div class="form-row">
							<div class="form-group col-md-6"
								th:classappend="${#fields.hasErrors('nome')}? 'has-error':''">
								<label for="nome" class="control-label">Serviço
									Voluntário</label>
								<span class="asterico-requerido"> *</span>	
								<input id="nome" class="form-control"
									th:field="*{nome}" />
								<p class="error-message"
									th:each="error: ${#fields.errors('nome')}" th:text="${error}"></p>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" id="habilitado"
										class="custom-control-input" th:field="*{habilitado}"
										th:checked="${servico.setHabilitado(true)}"> <label
										class="custom-control-label" for="habilitado">Habilitado<i tabindex="0" class="fas fa-question-circle"
										data-toggle="popover" data-trigger="focus"
										data-content="Se habilitado este cadastro será mostrado na lista para as pessoas que acessarem o sistema, se desabilitado não será mostrado na lista."></i></label>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-12"
								th:classappend="${#fields.hasErrors('descricao')}? 'has-error':''">
								<label for="descricao" class="control-label">Descrição
									do Serviço Voluntário</label>
								<span class="asterico-requerido"> *</span>
								<textarea id="descricao" class="form-control"
									th:field="*{descricao}" rows=5></textarea>
								<p class="error-message"
									th:each="error: ${#fields.errors('descricao')}"
									th:text="${error}"></p>
							</div>
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-outline-success">Editar</button>
							<button type="reset" class="btn btn-outline-primary">Restabelecer
								campos</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>