<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main}">

<head>
<title>ONGvd - O que é uma ONG</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="container-fluid">
				<h1 class="h1 display-4">O que é uma ONG?</h1>
				<div class="text-justify">
					<p>	As <b>Organizações não Governamentais (ONGs)</b> são <a
							href="/wiki/Organiza%C3%A7%C3%B5es_sem_fins_lucrativos"
							class="mw-redirect" title="Organizações sem fins lucrativos">organizações
							sem fins lucrativos</a>, constituídas <a
							href="/wiki/Personalidade_jur%C3%ADdica"
							title="Personalidade jurídica">formalmente</a> e autonomamente,
						caracterizadas por ações de <a href="/wiki/Solidariedade"
							title="Solidariedade">solidariedade</a> no campo das <a
							href="/wiki/Pol%C3%ADtica_p%C3%BAblica" title="Política pública">políticas
							públicas</a> e pelo <a href="/wiki/Legitimidade" title="Legitimidade">legítimo</a>
						exercício de pressões <a href="/wiki/Pol%C3%ADtica"
							title="Política">políticas</a> em proveito de populações <a
							href="/wiki/Exclus%C3%A3o_social" title="Exclusão social">excluídas</a>
						das condições da <a href="/wiki/Cidadania" title="Cidadania">cidadania</a>.<sup
							id="cite_ref-Senado_1-0" class="reference"><a
							href="#cite_note-Senado-1"><span>[</span>1<span>]</span></a></sup> Sua
						ascensão histórica está ligada à crise fiscal do Estado e ao
						desenvolvimento da sociedade civil no sentido de uma cidadania
						ativa. Porém, seu conceito não é pacífico na doutrina, existindo
						muitas divergências. Fazem parte do chamado <a
							href="/wiki/Setor_terci%C3%A1rio" title="Setor terciário">setor
							terciário</a>, o setor de serviços e comércio. No entanto, algumas
						teses o definem como parte do <a href="/wiki/Setor_quin%C3%A1rio"
							title="Setor quinário">setor quinário</a>, o setor sem fins
						lucrativos. <sup id="cite_ref-2" class="reference"><a
							href="#cite_note-2"><span>[</span>2<span>]</span></a></sup>
					</p>
					<p>
						Todavia, isso requer, ainda, um estudo político e sociológico mais
						profundo, principalmente no que diz respeito à regulamentação e
						representatividade de instituições políticas (<a
							href="/wiki/Partido_pol%C3%ADtico" title="Partido político">partidos</a>,
						agremiações) e sociais (<a href="/wiki/Clube" title="Clube">clubes</a>
						e agremiações sociais), e também às suas <a
							href="/wiki/Responsabilidade_objetiva"
							title="Responsabilidade objetiva">responsabilidades</a> atuais
						perante a lei e as determinações <a
							href="/wiki/Constitui%C3%A7%C3%A3o" title="Constituição">constitucionais</a>.<span
							style="color: gray"><sup>[</sup></span><sup><a
							href="/wiki/Wikip%C3%A9dia:Livro_de_estilo/Cite_as_fontes"
							title="Wikipédia:Livro de estilo/Cite as fontes"><span
								title="Esta afirmação precisa de uma referência para confirmá-la desde maio de 2015."
								style="color: gray"><i>carece&nbsp;de fontes</i></span></a><span
							class="printfooter">?</span><span style="color: gray">]</span></sup>
						Essas organizações podem complementar o trabalho do <a
							href="/wiki/Estado" title="Estado">Estado</a>, podendo receber <a
							href="/wiki/Financiamento" title="Financiamento">financiamentos</a>
						e doações dele, assim como de <a href="/wiki/Empresa_privada"
							title="Empresa privada">entidades privadas</a>, para tal fim.
						Atualmente, estudiosos têm defendido o uso da <a
							href="/wiki/Terminologia" title="Terminologia">terminologia</a> "<a
							href="/wiki/Organiza%C3%A7%C3%A3o_da_sociedade_civil"
							title="Organização da sociedade civil">organizações da
							sociedade civil</a>" para designar tais instituições.
					</p>
					<p>
						É importante ressaltar que, no Brasil, o termo "ONG" não tem valor
						<a href="/wiki/Judici%C3%A1rio" class="mw-redirect"
							title="Judiciário">jurídico</a>, sendo que a qualificação de <a
							href="/wiki/OSCIP" class="mw-redirect" title="OSCIP">OSCIP</a>
						(ou as antigas "<a href="/wiki/Entidade_de_utilidade_p%C3%BAblica"
							title="Entidade de utilidade pública">entidades de utilidade
							pública</a>") é o reconhecimento oficial e legal mais próximo do que
						se entende por ONG.<sup id="cite_ref-3" class="reference"><a
							href="#cite_note-3"><span>[</span>3<span>]</span></a></sup><sup
							id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>4<span>]</span></a></sup>
					</p>
					<p>
						No Brasil, três figuras jurídicas correspondentes no novo <a
							href="/wiki/C%C3%B3digo_Civil_Brasileiro" class="mw-redirect"
							title="Código Civil Brasileiro">Código Civil Brasileiro</a>
						compõem o terceiro setor: <a href="/wiki/Associa%C3%A7%C3%B5es"
							class="mw-redirect" title="Associações">associações</a>, <a
							href="/wiki/Funda%C3%A7%C3%A3o_(institui%C3%A7%C3%A3o)"
							title="Fundação (instituição)">fundações</a> e organizações <a
							href="/wiki/Religi%C3%A3o" title="Religião">religiosas</a> (que
						foram, recentemente, consideradas como uma terceira categoria).
						Elas também cumprem a função de combater as reminicências do <a
							href="/wiki/Totalitarismo" title="Totalitarismo">totalitarismo</a>.<sup
							id="cite_ref-5" class="reference"><a href="#cite_note-5"><span>[</span>5<span>]</span></a></sup>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>