<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">

<head>
    <title>ONGvd - Formulário para registro da ONG</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div th:if="${param.success}">
                        <div class="alert alert-info">
                            Você se registrou com sucesso!
                        </div>
                    </div>

                    <h1>Registrar ONG</h1>
                    <form th:action="@{/ong/registro}" method="post">

                        <div th:object="${ong}">
                            <p class="error-message" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}">
                            </p>
                        </div>

                        <div th:object="${ong}">
                            <div class="form-row">
                                <div class="form-group col-md-6" th:classappend="${#fields.hasErrors('razaoSocial')}? 'has-error':''">
                                    <label for="razaoSocial" class="control-label">Razão Social</label>
                                    <input id="razaoSocial" class="form-control" th:field="*{razaoSocial}" />
                                    <p class="error-message" th:each="error: ${#fields.errors('razaoSocial')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-6" th:classappend="${#fields.hasErrors('nomeFantasia')}? 'has-error':''">
                                    <label for="nomeFantasia" class="control-label">Nome Fantasia</label>
                                    <input id="nomeFantasia" class="form-control" th:field="*{nomeFantasia}" />
                                    <p class="error-message" th:each="error: ${#fields.errors('nomeFantasia')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-6" th:classappend="${#fields.hasErrors('cnpj')}? 'has-error':''">
                                    <label for="cnpj" class="control-label">CNPJ</label>
                                    <input id="cnpj" class="form-control" th:field="*{cnpj}" />
                                    <p class="error-message" th:each="error: ${#fields.errors('cnpj')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-6" th:classappend="${#fields.hasErrors('ramoAtividade')}? 'has-error':''">
                                    <label for="ramoAtividade" class="control-label">Ramo de Atividade</label>
                                    <input id="ramoAtividade" class="form-control" th:field="*{ramoAtividade}" />
                                    <p class="error-message" th:each="error: ${#fields.errors('ramoAtividade')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-6" th:classappend="${#fields.hasErrors('nomeContato')}? 'has-error':''">
                                    <label for="nomeContato" class="control-label">Nome contato</label>
                                    <input id="nomeContato" class="form-control" th:field="*{nomeContato}" />
                                    <p class="error-message" th:each="error : ${#fields.errors('nomeContato')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-6" th:classappend="${#fields.hasErrors('telefone')}? 'has-error':''">
                                    <label for="telefone" class="control-label">Telefone</label>
                                    <input id="telefone" class="form-control" th:field="*{telefone}" />
                                    <p class="error-message" th:each="error : ${#fields.errors('telefone')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-6" th:classappend="${#fields.hasErrors('website')}? 'has-error':''">
                                    <label for="website" class="control-label">Website</label>
                                    <input id="website" class="form-control" th:field="*{website}" />
                                    <p class="error-message" th:each="error: ${#fields.errors('website')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-6" th:classappend="${#fields.hasErrors('descricao')}? 'has-error':''">
                                    <label for="descricao" class="control-label">Descrição</label>
                                    <input id="descricao" class="form-control" th:field="*{descricao}" />
                                    <p class="error-message" th:each="error: ${#fields.errors('descricao')}" th:text="${error}"></p>
                                </div>
                            </div>
                        </div>

                        <div th:object="${endereco}">
                            <div class="form-row">
                                <div class="form-group col-md-2" th:classappend="${#fields.hasErrors('cep')}? 'has-error':''">
                                    <label for="cep" class="control-label">CEP</label>
                                    <input id="cep" class="form-control" th:field="*{cep}" />
                                    <p class="error-message" th:each="error: ${#fields.errors('cep')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('logradouro')}? 'has-error':''">
                                    <label for="logradouro" class="control-label">Logradouro</label>
                                    <input id="logradouro" class="form-control" th:field="*{logradouro}" />
                                    <p class="error-message" th:each="error: ${#fields.errors('logradouro')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-1" th:classappend="${#fields.hasErrors('numero')}? 'has-error':''">
                                    <label for="numero" class="control-label">Número</label>
                                    <input id="numero" class="form-control" th:field="*{numero}" type="number" />
                                    <p class="error-message" th:each="error: ${#fields.errors('numero')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-3" th:classappend="${#fields.hasErrors('complemento')}? 'has-error':''">
                                    <label for="complemento" class="control-label">Complemento</label>
                                    <input id="complemento" class="form-control" th:field="*{complemento}" />
                                    <p class="error-message" th:each="error: ${#fields.errors('complemento')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-2" th:classappend="${#fields.hasErrors('bairro')}? 'has-error':''">
                                    <label for="bairro" class="control-label">Bairro</label>
                                    <input id="bairro" class="form-control" th:field="*{bairro}" />
                                    <p class="error-message" th:each="error : ${#fields.errors('bairro')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-2" th:classappend="${#fields.hasErrors('cidade')}? 'has-error':''">
                                    <label for="cidade" class="control-label">Cidade</label>
                                    <input id="cidade" class="form-control" th:field="*{cidade}" />
                                    <p class="error-message" th:each="error : ${#fields.errors('cidade')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-1" th:classappend="${#fields.hasErrors('uf')}? 'has-error':''">
                                    <label for="uf" class="control-label">UF</label>
                                    <input id="uf" class="form-control" th:field="*{uf}" />
                                    <p class="error-message" th:each="error : ${#fields.errors('uf')}" th:text="${error}"></p>
                                </div>
                            </div>
                        </div>

                        <div th:object="${ong}">
                            <div class="form-row">
                                <div class="form-group col-md-6" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                                    <label for="email" class="control-label">E-mail</label>
                                    <input id="email" class="form-control" th:field="*{email}" />
                                    <p class="error-message" th:each="error : ${#fields.errors('email')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-6" th:classappend="${#fields.hasErrors('confirmarEmail')}? 'has-error':''">
                                    <label for="confirmarEmail" class="control-label">Confirmar e-mail</label>
                                    <input id="confirmarEmail" class="form-control" th:field="*{confirmarEmail}" />
                                    <p class="error-message" th:each="error : ${#fields.errors('confirmarEmail')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-6" th:classappend="${#fields.hasErrors('senha')}? 'has-error':''">
                                    <label for="senha" class="control-label">Senha</label>
                                    <input id="senha" class="form-control" type="password" th:field="*{senha}" />
                                    <p class="error-message" th:each="error : ${#fields.errors('senha')}" th:text="${error}"></p>
                                </div>
                                <div class="form-group col-md-6" th:classappend="${#fields.hasErrors('confirmarSenha')}? 'has-error':''">
                                    <label for="confirmarSenha" class="control-label">Confirmar senha</label>
                                    <input id="confirmarSenha" class="form-control" type="password" th:field="*{confirmarSenha}" />
                                    <p class="error-message" th:each="error : ${#fields.errors('confirmarSenha')}" th:text="${error}"></p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Registrar</button>
                            <span>Já é registrado? <a th:href="@{/login}">Entre aqui</a></span>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>