<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main}">

<head>
<title>ONGvd - Listagem dos Serviços Voluntários cadastrados</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				
					<div th:if="${param.success}">
						<div class="alert alert-info col-md-4">Serviço Voluntário editado com
							sucesso!</div>
					</div>
					
					<div th:if="${param.delete}">
						<div class="alert alert-info col-md-4">Serviço Voluntário deletado com
							sucesso!</div>
					</div>
					
					<div class="table-responsive-sm">
						<table class="table table-sm table-bordered table-hover text-center">
							<thead class="thead-light">
								<tr>
									<th scope="col" class="verticalMiddle">Nome</th>
									<th scope="col" class="verticalMiddle">Descrição</th>
									<th scope="col" class="verticalMiddle">Habilitado</th>
									<th scope="col" class="verticalMiddle">Data/Horário Inclusão</th>
									<th scope="col" class="verticalMiddle">Data/Horário Atualização</th>
									<th scope="col" class="verticalMiddle">Data/Horário Desabilitado</th>
									<th scope="col" class="verticalMiddle">Ações</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="servico: ${servicos}">
									<td th:text="${servico.getNome()}" class="verticalMiddle"></td>
									<td th:text="${servico.getDescricao()}" class="verticalMiddle"></td>
									<td th:text="${servico.getHabilitado() ? 'Sim' : 'Não'}" class="verticalMiddle"></td>
									<td th:text="${#dates.format(servico.getDataInclusao(),'dd/MMMM/yyyy HH:mm:ss')}" class="verticalMiddle"></td>
									<td th:text="${#dates.format(servico.getDataAtualizacao(),'dd/MMMM/yyyy HH:mm:ss')}" class="verticalMiddle"></td>
									<td th:text="${#dates.format(servico.getDataDesabilitado(),'dd/MMMM/yyyy HH:mm:ss')}" class="verticalMiddle"></td>
									<td class="verticalMiddle">
										<div class="btn-group">
											<a class="btn btn-primary mr-2"
												th:href="@{/painel/ong/servico-voluntario/edita-cadastro/{id}(id=${servico.getId()})}">editar</a>
											<a class="btn btn-danger"
												th:href="@{/painel/ong/servico-voluntario/{id}/delete(id=${servico.getId()})}"
												th:onclick="return confirm('Você realmente quer deletar este Serviço Voluntário?');">deletar</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>