<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main}">

<head>

<title>ONGvd - Sistema ONGvd</title>

</head>

<body>
	<div layout:fragment="content">
		<div class="container" th:object="${ong}">
			
			<h2 class="text-center">Bem vindo ao sistema ONGvd!</h2>

			<div class="form-group text-center">
				<label class="text-justify mt-3">Acesse o "Painel ONG" clicando
					no botão de cor azul claro "Mostrar/Esconder Painel" caso o "Painel ONG" não esteja
					visível, para poder ter acesso às funcionalidades do sistema.</label>
			</div>
		</div>
	</div>
</body>

</html>