<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main}">

<head>

<title>ONGvd - Configurações da ONG</title>

</head>

<body>
	<div layout:fragment="content">
		<div class="container col-md-6" th:each="ong: ${ongs}">

			<h1>Configurações da ONG</h1>

			<div th:if="${param.deactive}">
				<div class="alert alert-info col-md-7">ONG desativada com
					sucesso!</div>
			</div>
			
			<div th:if="${param.active}">
				<div class="alert alert-info col-md-7">ONG ativada com
					sucesso!</div>
			</div>

			<div class="form-group">
				<label for="username">Para alterar os dados registrados da
					ONG, aperte no botão abaixo:</label> <a
					class="btn btn-outline-primary col-md-4"
					th:href="@{/painel/ong/alterar-registro/{id}(id=${ong.getId()})}">Alterar
					registro</a>
			</div>
			<div class="form-group">
				<label for="username">Para alterar os dados registrados da
					ONG, aperte no botão abaixo:</label> <a
					class="btn btn-outline-secondary col-md-4"
					th:href="@{/painel/ong/desativar-registro/{id}(id=${ong.getId()})}">Desativar
					ONG</a> <a class="btn btn-outline-success col-md-4"
					th:href="@{/painel/ong/ativar-registro/{id}(id=${ong.getId()})}">Ativar
					ONG</a>
			</div>
			<div class="form-group">
				<label for="username">Para alterar os dados registrados da
					ONG, aperte no botão abaixo:</label> <a
					class="btn btn-outline-danger col-md-4"
					th:href="@{/painel/ong/deletar-registro/{id}(id=${ong.getId()})}"
					th:onclick="return confirm('Você realmente quer deletar o registro completo da ONG? Se deletado serão perdidos todos os Pedidos de Doação, Serviços Voluntários e Eventos cadastrados juntamente com o registro da ONG!');">Deletar
					ONG</a>
			</div>
		</div>
	</div>
</body>

</html>