<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main}">

<head>
<title>ONGvd - O que é ser um Doador</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="container-fluid">
				<h1 class="h1 display-4">O que é ser um Doador</h1>
				<div class="text-justify">
					<p>Há quem pense que fazer doações tem o mesmo efeito de se realizar
					um trabalho voluntário. Doar provoca um certo “bem estar
					psicológico”,&nbsp; faz as pessoas se sentirem “em dia” com o dever
					de colaborar para um mundo melhor e/ou com suas obrigações
					religiosas. Além disso, na maioria dos casos, são as doações que
					sustentam instituições importantes na promoção do bem estar social.
					Mas não são esses também os efeitos do trabalho voluntário? Qual é
					então, efetivamente, a diferença entre os dois?<br>
					<br>Bom, suponha que você queira fazer uma doação. Como,
					então, você poderá garantir que seu dinheiro será bem aproveitado?
					Já é consenso que dar esmola, por exemplo, não garante futuro, mas
					sim, incentiva a dependência e expectativa desses benefícios por
					parte das pessoas que as recebem. Ou seja, o efeito é o contrário
					ao desejado. Doar, portanto, de certa forma é um investimento, e
					como todo investimento, pode trazer bons resultados ou não. Mas
					isso depende de quem?<br>
					<br>Depende de quem e como se usa o dinheiro. Uma pessoa ou
					organização que já convive com esse tipo de situação, e tem
					conhecimento sobre as reais necessidades da sociedade, transformará
					esse dinheiro em benefício de maneira mais eficiente. Assim, uma
					pessoa que tenha tempo e disposição para analisar, e trabalhar para
					que esse benefício aconteça, é quem vai garantir o bom
					aproveitamento do investimento. Agora sim, estamos falando de um
					voluntário.<br>
					<br>Pode-se pensar então, que o voluntário é aquele que vai
					garantir que as doações serão bem aproveitadas. Ou seja, tendo em
					mãos um “produto bruto”, cabe à eles transformá-lo em resultados.
					Para isso, eles terão que contactar pessoas e empresas, fazer
					reuniões, acordos, parcerias, investimentos e muito mais. Tudo isso
					garantirá ao voluntário, além da satisfação, um grande aprendizado,
					o aumento da sua rede de contatos, o desenvolvimento de suas&nbsp;
					habilidades pessoais e sociais, e seu reconhecimento.<br>
					<br>Nota-se, portanto, uma grande vantagem do trabalho
					voluntário sobre uma simples doação. Mas claramente, nota-se também
					a relevância dos doadores para que esse trabalho possa ser
					realizado.&nbsp; Portanto, em última instância, conclui-se que
					o&nbsp; equilíbrio entre doações e trabalho voluntário é o que
					garantirá os melhores resultados para a sociedade!</p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>