<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main}">

<head>
<title>ONGvd - Listagem dos Pedidos de Doações disponíveis</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center">Listagem dos Pedidos de Doações
						disponíveis</h1>
					<div class="table-responsive-sm" th:if="${pedidos.size() != 0}">
						<table class="table table-sm table-bordered table-hover text-center">
							<thead class="thead-light">
								<tr>
									<th scope="col" class="verticalMiddle">Pedido de Doação</th>
									<th scope="col" class="verticalMiddle">Ong</th>
									<th scope="col" class="verticalMiddle">Data Inclusão</th>
									<th scope="col" class="verticalMiddle">Visualizar</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="pedido: ${pedidos}">
									<td th:text="${pedido.getNome()}" class="verticalMiddle"></td>
									<td th:text="${pedido.getOng().getRazaoSocial()}" class="verticalMiddle"></td>
									<td class="verticalMiddle"
										th:text="${#dates.format(pedido.getDataInclusao(),'dd/MMMM/yyyy')}"></td>
									<td class="verticalMiddle"><a
										class="btn btn-primary"
										th:href="@{/p/pedido-doacao/{id}(id=${pedido.getId()})}">detalhes</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="text-center" th:unless="${pedidos.size() != 0}">
						<div class="mt-5">
							<span>Não existem Pedidos de Doações disponíveis no
								momento.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>