<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main}">

<head>
	<title th:text="'ONGvd - Pedido de Doação: ' + *{pedido.nome}"></title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<h1>Detalhes do Pedido de Doação</h1>

					<div th:if="${param.success}">
						<div class="alert alert-info d-inline-flex">E-mail enviado
							com sucesso!</div>
					</div>

					<div th:if="${param.error}">
						<div class="alert alert-danger d-inline-flex">Preencha todos
							os campos para o envio do e-mail</div>
					</div>
					
					<p class="text-justify">
						Nesta página pode-se ver as informações detalhadas do Pedido de
						Doação e também as informações da ONG para poder entrar em
						contato, além de poder enviar <span class="sublinhado">e-mail</span>
						para ONG no final desta página preencheno um formulário, pode-se
						também entrar em contato diretamente com a ONG através do <span
							class="sublinhado">WhatsApp</span> (quando registrado pela ONG) e
						também entrar no <span class="sublinhado">website</span> da ONG
						para maiores informações sobre a mesma (quando registrado pela
						ONG).
					</p>

					<div th:object="${pedido}">

						<div class="form-row">
							<div class="col-sm-6">
								<span class="cinza">Pedido de Doação:</span> <span
									th:text="*{nome}" id="nomeDetalhesPedidoDoador"></span>
							</div>
						</div>
						<div class="form-row">
							<div class="col-sm-6">
								<span class="cinza">Descrição:</span> <span
									th:text="*{descricao}"></span>
							</div>
						</div>
						<div class="form-row">
							<div class="col-sm-6">
								<span class="cinza">Item pedido:</span> <span
									th:text="*{itemPedido}"></span>
							</div>
						</div>
						<div class="form-row">
							<div class="col-sm-6">
								<span class="cinza">(R$) Valor pedido:</span> <span
									th:text="*{valorPedido}"></span>
							</div>
						</div>

						<iframe
							th:attr="src='https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fongvd.herokuapp.com%2Fp%2Fpedido-doacao%2F__${pedido.id}__&layout=button_count&size=small&width=107&height=20&appId'"
							width="107" height="20" style="border: none; overflow: hidden"
							th:scrolling="no" th:frameborder="0" th:allowTransparency="true"
							th:allow="encrypted-media"></iframe>

						<h5></h5>
						<h5>Informações da ONG que cadastrou este Pedido de Doação:</h5>

						<div class="form-row">
							<div class="col-sm-6">
								<span class="cinza">Razão Social:</span> <span
									th:text="*{ong.razaoSocial}"></span>
							</div>
							<div class="col-sm-6">
								<span class="cinza">Nome Fantasia:</span> <span
									th:text="*{ong.nomeFantasia}"></span>
							</div>
							<div class="col-sm-6">
								<span class="cinza">CNPJ:</span> <span th:text="*{ong.cnpj}"></span>
							</div>
							<div class="col-sm-6">
								<span class="cinza">Área de Atuação:</span> <span
									th:text="*{ong.areaDeAtuacao}"></span>
							</div>
						</div>
						<div class="form-row">
							<div class="col-sm-6">
								<span class="cinza">Fundação:</span> <span
									th:text="*{#dates.format(ong.fundacao,'dd/MMMM/yyyy')}"></span>
							</div>
							<div class="col-sm-6">
								<span class="cinza">Responsável:</span> <span
									th:text="*{ong.responsavel}"></span>
							</div>
							<div class="col-sm-6">
								<span class="cinza">WhatsApp<i tabindex="0"
									class="fas fa-exclamation-circle" data-toggle="popover"
									data-trigger="focus" title="WhatsApp da Ong"
									data-content="Clique no número do WhatsApp, para ser direcionado para conversar com a ONG (quando disponível)."></i>:
								</span> <a class="whatsapp" target="_blank"
									th:href="@{https://api.whatsapp.com/send?phone={ong.whatsapp}(ong.whatsapp=${pedido.ong.getWhatsapp().replaceAll('[\\\\(\\\\)\\\-+\s]','')})}"
									th:text="*{ong.whatsapp}"></a>
							</div>
							<div class="col-sm-6">
								<span class="cinza">Contato:</span> <span
									th:text="*{ong.contato}"></span>
							</div>
						</div>
						<div class="form-row">
							<div class="col-sm-6">
								<span class="cinza">Telefone:</span> <span
									th:text="*{ong.telefone}"></span>
							</div>
							<div class="col-sm-6">
								<span class="cinza">Website<i tabindex="0"
									class="fas fa-question-circle" data-toggle="popover"
									data-trigger="focus" title="Website da Ong"
									data-content="Clique no link do website da ONG, para ser direcionado para o site da ONG para maiores informações sobre a mesma (quando disponível)."></i>:
								</span> <a class="website" target="_blank"
									th:href="@{http://{ong.website}(ong.website=${pedido.ong.getWebsite()})}"
									th:text="*{ong.website}"></a>
							</div>
							<div class="col-sm-6">
								<span class="cinza">E-mail:</span> <span
									th:text="*{ong.email}" id="emailOngDetalhesPedidoDoador"></span>
							</div>
						</div>

						<h5></h5>
						<h5>Informações de endereço da ONG que cadastrou este Pedido
							de Doação:</h5>

						<div th:each="endereco: ${pedido.ong.enderecos}">
							<div class="form-row">
								<div class="col-sm-6">
									<span class="cinza">CEP:</span> <span
										th:text="${endereco.cep}"></span>
								</div>
								<div class="col-sm-6">
									<span class="cinza">Logradouro:</span> <span
										th:text="${endereco.logradouro}"></span>
								</div>
								<div class="col-sm-6">
									<span class="cinza">Bairro:</span> <span
										th:text="${endereco.bairro}"></span>
								</div>
								<div class="col-sm-6">
									<span class="cinza">Número:</span> <span
										th:text="${endereco.numero}"></span>
								</div>
							</div>
							<div class="form-row">
								<div class="col-sm-6">
									<span class="cinza">Complemento:</span> <span
										th:text="${endereco.complemento}"></span>
								</div>
								<div class="col-sm-6">
									<span class="cinza">Cidade:</span> <span
										th:text="${endereco.cidade}"></span>
								</div>
								<div class="col-sm-6">
									<span class="cinza">UF:</span> <span th:text="${endereco.uf}"></span>
								</div>
							</div>
						</div>

						<h5></h5>
						<h5>Formulário de envio de e-mail para ONG, a respeito deste
							Pedido de Doação:</h5>
							
						<span class="font-small">Campos marcados com <span class="asterico-requerido">*</span> são de preenchimento obrigatório.</span>

						<form th:action="@{/p/pedido-doacao/{id}(id=${pedido.getId()})}"
							method="post" th:object="${email}">

							<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
								th:each="error : ${#fields.errors('global')}" th:text="${error}">
							</p>

							<div class="form-row">
								<div class="form-group col-sm-12"
									th:classappend="${#fields.hasErrors('emailDe')}? 'has-error':''">
									<span class="sr-only" for="emailDe">De</span>
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">De</div>
										</div>
										<input type="email" th:field="*{emailDe}" class="form-control"
											id="emailDe"
											placeholder="Doador(a) digite seu endereço de e-mail">
									</div>
									<p class="error-message"
										th:each="error: ${#fields.errors('emailDe')}"
										th:text="${error}"></p>
								</div>
								<div class="form-group col-sm-12"
									th:classappend="${#fields.hasErrors('assunto')}? 'has-error':''">
									<span class="sr-only" for="assunto">Assunto</span>
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">Assunto</div>
										</div>
										<input type="text" th:field="*{assunto}" class="form-control"
											id="assuntoDetalhesPedidoDoador"
											placeholder="Digite o assunto">
									</div>
									<p class="error-message"
										th:each="error: ${#fields.errors('assunto')}"
										th:text="${error}"></p>
								</div>
								<div class="form-group col-sm-12"
									th:classappend="${#fields.hasErrors('corpo')}? 'has-error':''">
									<span class="sr-only" for="corpo">Mensagem</span>
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">Mensagem</div>
										</div>
										<textarea id="corpo" class="form-control" th:field="*{corpo}"
											rows=5 cols=50
											placeholder="Digite sua mensagem que será enviada a ONG"></textarea>
									</div>
									<p class="error-message"
										th:each="error: ${#fields.errors('corpo')}" th:text="${error}"></p>
								</div>
							</div>

							<div class="form-group">
								<button type="submit" class="btn btn-outline-success">Enviar
									e-mail</button>
								<button type="reset" class="btn btn-outline-primary">Limpar
									campos</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>