<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main}">

<head>
<title>ONGvd - Contato</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container">

			<h2 class="text-center">Fale Conosco</h2>

			<p class="text-justify">
				Para maiores informações, solicitações, sugestões, ou qualquer outro
				assunto que se fizer necessário, por favor nos envie um e-mail <a href="mailto:ongvd2019@gmail.com" class="emailfc">clicando aqui</a>. 
			</p>
			
			<p class="text-justify">
				<label>WhatsApp para contato: </label>
				(34) 99204-0640
			</p>
			
			<h5>Doação:</h5>
			
			<p class="text-justify">Para realizar uma doação de qualquer
				valor monetário em reais (R$) e ajudar com a aprimoração do sistema
				web ONGvd, por favor realize sua doação com segurança pelo PagSeguro
				da UOL clicando no botão abaixo.</p>

			<a target="_blank" href="https://pag.ae/7U-ExjKg6"> <input
				type="image"
				src="https://stc.pagseguro.uol.com.br/public/img/botoes/doacoes/205x30-doar.gif" />
			</a>

		</div>
	</div>
</body>

</html>