<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main}">

<head>
<title>ONGvd - Quem Somos</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container">

			<h2 class="text-center">Quem Somos</h2>

			<p class="text-justify">
				<b>ONGvd</b> é um Projeto de Trabalho de Conclusão de Curso (TCC)
				realizado no Centro Universitário Una Uberlândia, baseado no
				desenvolvimento de um sistema web que permite Organizações não
				Governamentais (ONGs) se registrarem neste sistema, podendo
				cadastrar serviços para os voluntários, cadastrar pedidos de doação
				para doadores e eventos solidários onde as pessoas que acessarem
				poderão visualizar estes serviços voluntários, pedidos de doações e
				eventos solidários, assim podendo entrar em contato com a ONG que
				cadastrou os serviços voluntários, pedidos de doações e eventos
				solidários para poder prosseguir com a execução do serviço
				voluntário, doação e evento solidário na ONG.
			</p>

		</div>
	</div>
</body>

</html>